.calculator-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 20%;
}

.calculator-container {
    border: 5px solid gray;
    height: 600px;
    width: 300px;
    border-radius: 30px;
    background-color: black;
}

.results-input-container {
    display: flex;
    flex-direction: column;
    height: 230px;
    width: 300px;
    padding-bottom: 20px;
}

.expression-display {
    color: white;
    margin-top: 50%;
    text-align: right;
    padding-right: 30px;
    font-size: 24px;
    opacity: .5;
    display: inline-block;
    height: 25px;
    margin-bottom: 5px;
}

.results-input {
    width: 270px;
    border: none;
    color: white;
    background-color: black;
    font-size: 36px;
    text-align: right;
    overflow-x: auto;
    white-space: nowrap;
    outline: none;
}

input {
    text-indent: 20px;
}

input::placeholder {
    color: white;
}

input:focus-visible {
    outline: none;
}

.buttons-wrapper {
    position: relative;
    top: -20px;
}

.buttons-container {
    display: flex;
    flex-wrap: wrap;
    padding: 0 10px;
    gap: 10px;
    justify-content: center;
}

.operator,
.operator-equals {
    background-color: #FF9F0A;
}

.number,
.calc-icon,
.decimal-point {
    background-color: #222;
}

.positive-negative,
.percentage,
.clear {
    background-color: #636363;
}

.btn {
    border-radius: 50%;
    height: 60px;
    width: 60px;
    color: white;
    border: none;
    font-size: 26px;
}