.calculator-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 20%;
}

.calculator-container {
    border: 5px solid gray;
    height: 600px;
    width: 300px;
    border-radius: 30px;
    background-color: black;
}

.results-input-container {
    height: 230px;
    width: 300px;
    padding-bottom: 20px;
}

.results-input {
    width: 280px;
    border: none;
    color: white;
    background-color: black;
    font-size: 36px;
    text-align: right;
    margin-top: 50%;
}

input {
    text-indent: 20px;
}

input::placeholder {
    color: white;
}

input:focus-visible {
    outline: none;
}

.buttons-wrapper {
    position: relative;
    top: -20px;
}

.buttons-container {
    display: flex;
    flex-wrap: wrap;
    padding: 0 10px;
    gap: 10px;
    justify-content: center;
}

.operator {
    background-color: orange;
}

.number,
.calc-icon,
.decimal-point {
    background-color: #222;
}

.positive-negative,
.percentage,
.clear {
    background-color: #636363;
}

.btn {
    border-radius: 50%;
    height: 60px;
    width: 60px;
    color: white;
    border: none;
    font-size: 20px;
}